.studio
*.ipr
*.iml
*.iws
build/*
deploy/*
modules/*/build/*
out
test-run
.gradle/
docker-image/stocks.jar
modules/core/web/META-INF/heroku-context.xml
modules/core/web/META-INF/jetty-env.xml
dataSources
.ideaDataSources
.idea