.studio
*.ipr
*.iml
*.iws
build/*
deploy/*
modules/*/build/*
out
test-run
.gradle/
deployment/*.jar
deployment/run-docker-toolbox.sh
modules/core/web/META-INF/heroku-context.xml
dataSources
.ideaDataSources
.idea